/*
 * author: Add by key
 *   data: 2018-4-14
 */
/*
 * 头部模块
 * */
.head-wrapper{
    width: 100%;
    height: 60px;
    position: relative;
    /*overflow: hidden;*/
    z-index: 990;
    background: url(../images/head_bg.png) top center no-repeat;
}
.head-wrapper .team{
    width: auto;
    height: 30px;
    /* margin:20px 0px 0px 10px;*/
    /* padding-right:20px; */
    /* background: url(../images/arrow_down.png) center right no-repeat; */
    color: #fff;
    line-height: 30px;
   /* position: absolute; 
    top: 30px;
    left: 10px;*/

}
.team #tree{
	height: 30px;
}
.head-wrapper .team:before{
   /* content: url(../images/team-icon.png);
    width: 30px;
    height: 30px;
    padding: 0px 40px 0px 0px;
    float: left; */
}
.head-wrapper .user-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    background: url(../images/head_user.png) center no-repeat;
}
.head-wrapper .user{
    padding-right: 15px;
    color: #fff;
    line-height: 30px;
    background: url(../images/arrow_down.png) center right no-repeat;
}
.head-wrapper ul.user-menu{
    width: auto;
    /*height: 62px;*/
    position: absolute;
}
.head-wrapper ul.user-menu{
    top: 60px;
    right: 10px;
    padding-top:7px;
    background:url("../images/select-bg.png") center top no-repeat;
}
.head-wrapper ul.user-menu a{
    padding-left: 30px;
}
.head-wrapper ul.user-menu li:nth-child(1) a{
    background: url("../images/user-mune-modify.png") left center no-repeat;
}
.head-wrapper ul.user-menu li:nth-child(2) a{
    background: url("../images/user-mune-quit.png") left center no-repeat;
}
.head-wrapper ul.team-menu{
    top: 60px;
    left: 40px;
    padding-top:7px;
    background:url("../images/select-bg.png") 40px top no-repeat;
}
.head-wrapper ul.user-menu li{
    width: 100%;
    height: 30px;
    padding:0px 20px;
    line-height: 30px;
    color: #fff;
    text-align: left;
    background-color: rgba(27,27,27,.8);
}
.head-wrapper ul.user-menu li a{
    display: block;
    font-size: 14px;
    border-bottom: 1px solid rgba(255,255,255,1);
}
.head-wrapper ul.user-menu li:hover{
    background-color: rgba(0,0,0,.8);
}
.head-wrapper ul.user-menu li:last-child a{
    border:none;
}
.top-right-b{
    position: absolute;
    right: 10px;
    top: 30px;
}
.head-wrapper .message-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    background: url(../images/message-img.png) center no-repeat;
}
.head-wrapper .infor-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    background: url(../images/infor-img.png) center no-repeat;
}
.head-wrapper .message,.head-wrapper .infor{
    color: #fff;
    line-height: 30px;
    margin-right: 30px;
}
.head-wrapper .reddot{
    background-color: #fd2f34;
    padding:0px 5px;
    font-size: 12px;
    border-radius: 10px;
}
/*message box*/
.wrapper_left_box .message-box{
    width: 481px;
    background: rgba(27, 27, 27, 0.9);
    border-radius: 2px;
    overflow-y: scroll;
    position: absolute;
    right: 10px;
    top: 70px;
    height: calc(100vh - 156px);
}
.wrapper_left_box .message-box ul li{
    width: 100%;
    padding:20px;
    border-bottom: 1px solid rgba(229,229,229,.2);
}
.message-box dl{
    width: 100%;
    padding-left: 30px;
    background: url("../images/right_message_user.png") top left no-repeat;
}
.message-box dl span,.message-box .time{
    font-size: 12px;
    color: #bcbcbc;
    line-height: 23px;
}
.message-box ol:nth-child(4) div img{
    max-width: 120px;
    /*   max-height:90px;*/
    vertical-align: middle;
}
.message-box dl ol:nth-child(4) div{
    /*    width: 130px;
        height: 98px;*/
    margin:10px 0px 0px 10px;
    background: #1b1b1b;
    text-align: center;
    vertical-align: middle;
}
.message-box dl ol div:nth-child(3n+1){
    margin-left: 0px;
}
.message-box dl p{
    color: #fff;
    font-size:14px;
    margin-top:10px;
}
.message-box dl .time{
    font-size: 12px;
}
.message-box dl .address{
    color: #00deff;
    font-size: 12px;
    padding-left: 15px;
    margin-top: 10px;
    background: url(../images/right_message_position.png) left center no-repeat;
}

#message-box-ul img,.infor-list img{
    cursor: pointer;
}
/*infor-box*/
.infor-box{
    width: 481px;
    border-radius: 2px;
    overflow-y: scroll;
    position: absolute;
    right: 10px;
    top: 70px;
    overflow:hidden;
}
.infor-list{
    height: calc(100vh - 335px);
    background: rgba(27, 27, 27, .9);
    overflow-y:scroll;
}
.infor-box .infor-col-l{
    width: 80%;
    float: left;
    padding-left: 30px;
    margin:20px;
    background:url("../images/right_message_user.png") top left no-repeat;
}
.infor-box .infor-col-r{
    width: 80%;
    float: right;
    padding-right: 30px;
    margin:20px;
    background:url("../images/right_message_user.png") top right no-repeat;
}
.infor-box  .infor-col2{
    margin-bottom: 4px;
    font-size: 12px;
    color: #bcbcbc;
    line-height: 16px;
}
.infor-box .infor-col-l .infor-col3{
    width:auto;
    background:url("../images/infor-bg-l.png") left 4px no-repeat;
    padding-left: 4px;
}
.infor-box .infor-col-r .infor-col3{
    width:auto;
    background:url("../images/infor-bg-r.png") right 4px no-repeat;
    padding-right: 4px;
}
.infor-box .infor-col3 p{
    width: auto;
    padding:10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
}
.infor-box .infor-col-l .infor-col3 p{
    float: left;
    background-color:#444343;
}
.infor-box .infor-col-r .infor-col3 p{
    float: right;
    background:rgba(0,222,255,1);
}
.infor-box .infor-col-r span{
    float: right;
}
.infor-box .infor-write{
    background: rgba(27, 27, 27, 0.9);
}
.infor-box .infor-write textarea{
    width: 100%;
    height: 120px;
    padding:20px;
    overflow: auto;
    background: none;
    border-top:1px solid rgba(229,229,229,.2);
    outline: none;
    color: #fff;
}
.infor-box .infor-write textarea:focus{
    border:none;
    border-top:1px solid rgba(229,229,229,.2);
    outline: none;
}
.infor-box .infor-write input{
    width: 80px;
    height: 34px;
    color: #fff;
    background: #00deff;
    border-radius: 3px;
    margin: 0px 20px 20px 0px;
}
/*实时消息图片样式*/
.dialog{
    position: relative;
}
.infor-box .infor-col-r .dialog{
    float: right;
}
.infor-box .infor-col-l .dialog{
    float: left;
}
.dialog img{
    max-height: 200px;
    max-width: 200px;
}
/*
.infor-box .infor-col-r .dialog:after{
    content: '';
    position: absolute;
    top: 24px;
    right: -14px;
    border: solid #1b1b1b;
    border-width: 14px;
    border-left-color: transparent;
    background: inherit;
    background-size: auto;
    background-clip: border-box;
    background-origin: border-box;
}
.infor-box .infor-col-l .dialog:after{
    content: '';
    position: absolute;
    top: 24px;
    left: -14px;
    border: solid #1b1b1b;
    border-width: 14px;
    border-right-color: transparent;
    background: inherit;
    background-size: auto;
    background-clip: border-box;
    background-origin: border-box;
}
*/
.infor-box .infor-col-r .dialog .imgDiv,.infor-box .infor-col-l .dialog .imgDiv{
    border-radius: 6px;
    overflow: hidden;
    /*height: 100px;
    width: 129px;*/
    margin-right: 12px;
}
.infor-box .infor-col-l .dialog .imgDiv{
    margin-left: 12px;
    margin-right: 0px;
}
.infor-col-r .dialog .img2{
    -webkit-clip-path: polygon(88% 10px, 88% 30px, 100% 20px);
    clip-path: polygon(88% 10px, 88% 30px, 100% 20px);
    position: absolute;
    right: 0;
    top: 0;
}
.infor-col-l .dialog .img2{
    -webkit-clip-path: polygon(15% 10px, 15% 30px, 0% 20px);
    clip-path: polygon(15% 10px, 15% 30px, 0% 20px);
    position: absolute;
    left: 0;
    top: 0;
}
audio{
    /*height: 20px;*/
}
/*实时消息图片样式end*/
.chat02_title_btn{
    width:34px;
    height: 34px;
    display: block;
    margin-left: 20px;
    background: url("../images/pic-load.png") left center no-repeat;
}
/*滚动条样式*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color:rgba(27,27,27,.9);
}
::-webkit-scrollbar {
    display: block;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #000;
    box-shadow: none;
}
/*
::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #0e60be;
}
 */
/*滚动条样式 end*/
.head-svg {
    width:400px;
    height:60px;
    margin:0px auto;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#lottie2 {
    width:28px;
    height:28px;
    margin:0px auto;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#lottie3 {
    width:86px;
    height:86px;
    margin:0px auto;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*
 * 内容模块
 * */
section{
    z-index: 980;
}
/*右侧列表*/
.wraper_right_box{
    width: 370px;
    padding-left: 10px;
    padding-top: 60px;
    height: 100%;
    /*height: calc(100vh - 22px);*/
    -webkit-align-items: center;
    position: absolute;
    background: url(../images/left_bg.png) left top repeat-y;
    left: 0px;
    top: 0px;
}
/*统计图*/
.wraper_right_box .wraper_right_pie{
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 168px;
    height: 155px;
    background-color: rgba(27, 27, 27, 0.4);
}
/*统计图*/
.wraper_right_box .wraper_right_bar{
    position: relative;
    float: left;
    margin-bottom: 13px;
    width: 346px;
    height: 135px;
    background-color: rgba(27, 27, 27, 0.4);
}
/* 团队 任务切换 tab */
.wraper_right_box #toggle-panel{
    display: inline-block;
    margin-bottom: 10px;
}
#toggle-panel>li{
    width: 110px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #bcbcbc;
    border-bottom: #626262 solid 1px;
}
#toggle-panel>li>a{
    padding:0px 10px 0px 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
	color: #BCBCBC;
	
}
#toggle-panel>li.active,#toggle-panel>li:hover{
    border-bottom: #ffffff solid 4px;
    color: #ffffff;
}

#toggle-panel>li>.tab_teamPanel{
    background: url(../images/left_tab_icon1_gray.png) 6px center no-repeat;
}

#toggle-panel>li.active>.tab_teamPanel{
    background: url(../images/left_tab_icon1_white.png) 6px center no-repeat;
    color: #fff;
}
#toggle-panel>li>.tab_taskPanel{
    background: url(../images/left_tab_icon1_gray.png) 6px center no-repeat;
}

#toggle-panel>li.active>.tab_taskPanel{
    background: url(../images/left_tab_icon1_white.png) 6px center no-repeat;
    color: #fff;
}
#taskPanel{
	color: #FFFFFF;
}
/* 任务调度样式 */
#taskPanel .fullbtn{
	width: 344px;
	height: 40px;
	background-color: #00DEFF;
	font-size: 16px;
}

#seach-form{
	max-height: 180px;
	clear: both;
}

#seach-form .layui-form-label{
	padding: 9px 14px 9px 0px;
	width: auto;
}
#seach-form .layui-input-inline{
	width: 274px;
	height: 32px;
	line-height: 32px;
}
#seach-form .layui-form-item{
	margin-bottom: 5px;
}
/* 重写select 下拉样式 */
#layer-addtask .layui-form-select dl ,#seach-form .layui-form-select dl{
	background-color: #000000;
}
#layer-addtask .layui-form-select dl dd.layui-this,#seach-form .layui-form-select dl dd.layui-this {
    background-color: #616362;
}
#layer-addtask .layui-form-select dl dd:hover,#seach-form .layui-form-select dl dd:hover{
	background-color: #616362;
}
#layer-addtask .layui-form-radio>i:hover, .layui-form-radioed>i,#seach-form .layui-form-radio>i:hover, .layui-form-radioed>i {
    color: #d6d8d7;
}
/* 弹出表单样式 */
#layer-addtask{
	color: #FFFFFF;
}
#layer-addtask .layui-form-label{
	width: 95px;
}
#layer-addtask textarea{
	background-color: #1B1B1B !important;
	padding: 3px 5px;
}
#layer-addtask  textarea:focus,input:focus {
    border: 1px solid #d2d2d2;
}
#layer-addtask  textarea, input {
    border: 1px solid #6b6969;
	width: 300px;
}
#layer-addtask .layui-input{
	border: 1px solid #6b6969;
}
#layer-addtask .layui-input-inline {
    width: 300px;
}
#layer-addtask .layui-input, .layui-textarea {
   /* border: 1px solid #626262; */
	width: 300px;
}
.layer-ext-myskin.layui-layer-btn .layui-layer-btn0 {
    border-color: #00DEFF;
    background-color: #00DEFF;
    color: #fff;
}


#select_task{ /* 搜索框 */
	background-color: #000000;
	color: #FFFFFF;
	width: 284px;
	height: 38px;
	line-height: 38px;
	float: left;
}
#searchBtn{
	background-color: #00DEFF;
	width: 60px;
	height: 34px;
	line-height: 34px;
}
#search-label{
	padding-right: 15px;
	color: #fff;
	background: url(../images/arrow_down.png) center right no-repeat;
}
#seach-form .date-img{
	position: absolute;
	bottom: 3px;
	right: 5px;
	width: 23px;
	height: 23px;
	background: url(../images/date.png) center no-repeat;
}
.send-img{
	position: absolute;
	top: 9px;
	left: 110px;
	width: 23px;
	height: 23px;
	background: url(../images/send.png) center no-repeat;
}

/* 设备列表 */
.wraper_right_box .wraper_right_list{
    position: relative;
    float: left;
    width: 346px;
}
.wraper_right_list .nav-tabs{
    display: inline-block;
    margin-bottom: 10px;
}
.wraper_right_list>ul>li{
    width: 86px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #bcbcbc;
    border-bottom: #626262 solid 1px;
}
.wraper_right_list>ul>li>a{
    padding:0px 10px 0px 34px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
.wraper_right_list>ul>li.active,.wraper_right_list>ul>li:hover{
    border-bottom: #ffffff solid 4px;
    color: #ffffff;
}

.wraper_right_list>ul>li>.all{
    background: url(../images/left_tab_icon1_gray.png) 6px center no-repeat;
}

.wraper_right_list>ul>li.active>.all{
    background: url(../images/left_tab_icon1_white.png) 6px center no-repeat;
    color: #fff;
}

.wraper_right_list>ul>li>.man{
    background: url(../images/left_tab_icon2_gray.png) 6px center no-repeat;
}

.wraper_right_list>ul>li.active>.man,.wraper_right_list>ul>li:hover>.man{
    background: url(../images/left_tab_icon2_white.png) 6px center no-repeat;
    color: #ffffff;
}
.wraper_right_list>ul>li>.plane{
    background: url(../images/left_tab_icon3_gray.png) 6px center no-repeat;
}

.wraper_right_list>ul>li.active>.plane,.wraper_right_list>ul>li:hover>.plane{
    background: url(../images/left_tab_icon3_white.png) 6px center no-repeat;
    color: #ffffff;
}
.wraper_right_list>ul>li>.car{
    background: url(../images/left_tab_icon4_gray.png) 6px center no-repeat;
}

.wraper_right_list>ul>li.active>.car,.wraper_right_list>ul>li:hover>.car{
    background: url(../images/left_tab_icon4_white.png) 6px center no-repeat;
    color: #ffffff;
}
.wraper_right_list .right-tab-content{
    position: relative;
    float: left;
    width: 346px;
    max-height: calc(100vh - 500px);
}
/* 任务卡片 */
#task_list {
    position: relative;
    float: left;
    width: 354px;
    max-height: calc(100vh - 285px);
	overflow-y: auto;
	overflow-x: hidden;
}
#task_list .right-tab-content-li{
    width: 346px;
}
#task_list .task_title{
	position: relative;
	float: left;
	width:340px;
	height:18px;
	padding-left: 8px;
	line-height: 18px;
	font-size:16px;
	font-family:Source Han Sans CN;
	font-weight:500;
	color:rgba(255,255,255,1);
	border-left: #00DEFF solid 4px;
	margin-bottom: 7px;
}
#task_list .task_content{
	position: relative;
	float: left;
	width:325px;
	padding: 5px 12px;
	font-size:12px;
	font-family:Source Han Sans CN;
	font-weight:400;
	color:rgba(255,255,255,1);
}
#task_list .task_content span{
	width: 200px;
	display: block;
	margin-bottom: 8px;
}

#task_list .task_tools{
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	position: relative;
	float: left;
	padding-left: 12px;
}
#task_list .task_tools a{
	position: relative;
	float: left;
	line-height: 14px;
	margin-right: 25px;
	color: #BCBCBC;
}
.task_tools a span {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    display: inline-block;
}
.edit-img{
	background: url(../images/edit.png) center no-repeat;
}
.line-edit-img{
	background: url(../images/line-edit.png) center no-repeat;
}
.cancle-img{
	background: url(../images/cancle.png) center no-repeat;
}

/*设备列表面板*/
.right-tab-content{
    overflow-y: auto;
}
.right-tab-content-li{
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    background-color: rgba(27, 27, 27, 0.6);
}
.right-tab-content .man-on:hover,.right-tab-content .plane-on:hover,.right-tab-content .car-on:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.right-tab-content .man-on{
    background: url(../images/left_user_on.png) 30px center no-repeat rgba(27, 27, 27, 0.6);
    cursor: pointer;
}
.right-tab-content .man-off{
    background: url(../images/left_user_off.png) 30px center no-repeat rgba(27, 27, 27, 0.6);
}
.right-tab-content .man-on,.right-tab-content .man-off{
    line-height:42px;
}
.right-tab-content .plane-on{
    background: url(../images/left_plane_on.png) 28px 22px no-repeat rgba(27, 27, 27, 0.6);
    cursor: pointer;
}
.right-tab-content .plane-off{
    background: url(../images/left_plane_off.png) 28px 22px no-repeat rgba(27, 27, 27, 0.6);
}
.right-tab-content .car-on{
    background: url(../images/left_car_on.png) 26px center no-repeat rgba(27, 27, 27, 0.6);
    cursor: pointer;
}
.right-tab-content .car-off{
    background: url(../images/left_car_off.png) 26px center no-repeat rgba(27, 27, 27, 0.6);
}
.right-tab-content-li .img-left{
    float: left;
    width: 27px;
    height: 30px;
    margin-right: 20px;
}

.right-tab-content-li .content-li-tool{
    float: right;
    height: 42px;
    line-height: 42px;
    width: 84px;
}
.right-tab-content-li .content-li-tool a,.right-tab-content-li .content-li-tool #lottie2{
    width: 42px;
    height: 42px;
    padding:7px;
    display: inline-block;
    float: left;
}
.content-li-text{
    float: left;
    width: 168px;
    margin-left: 46px;
}
.content-li-text .content-li-text-name{
    float: left;
    width: 168px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.right-tab-content .man-on .content-li-text-name,
.right-tab-content .plane-on .content-li-text-name,
.right-tab-content .car-on .content-li-text-name{
    color: #ffffff;
}
.right-tab-content .man-off .content-li-text-name,
.right-tab-content .plane-off .content-li-text-name,
.right-tab-content .car-off .content-li-text-name{
    color: #7b7b7b;
}
.content-li-text-info{
    float: left;
    width: 100%;
    font-size: 12px;
    display: block;
}
.right-tab-content .man-on .content-li-text-info,
.right-tab-content .plane-on .content-li-text-info,
.right-tab-content .car-on .content-li-text-info{
    color: #bcbcbc;
}
.right-tab-content .man-off .content-li-text-info,
.right-tab-content .plane-off .content-li-text-info,
.right-tab-content .car-off .content-li-text-info{
    color: #484848;
}
.content-li-text-info span{
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #fff;
    border-radius: 20px;
    padding:0px 5px;
    margin-left: 5px;
}
.right-tab-content .car-on .content-li-text-name,.right-tab-content .car-off .content-li-text-name{
    line-height: 42px;
    height: 42px;
}
.plane-wrong{
    background-color: #fd2f34;
}
.plane-normal{
    background-color: #2dea9c;
}
.right-tab-content-li .content-li-data{
    margin: 10px 0px 0px 46px;
    padding:10px 0px;
    border-top: 1px solid rgba(229,229,229,.2);
}
.right-tab-content-li .content-li-data li{
    width: 76px;
    margin-left: 10px;
    text-align:center;
}
.right-tab-content-li ul.content-li-data li:first-child{
    margin: 0px;
}
.right-tab-content-li .content-li-text-data{
    color: #00deff;
    font-size: 30px;
}
@font-face {
    font-family: quartz;
    src:url(../fonts/quartz.ttf);
}
.content-li-text-data {
    font-family: quartz;
}

/*video list*/

.wrapper_left_box{
    width: 0px;
    padding-right: 10px;
    padding-top: 90px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    /*background: url(../images/right_bg.png) top right repeat-y;*/
}
/*视频区*/
.wrapper_left_box .video_list_box{
    width: 730px;
    max-height: 393px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    /* float: right; */
    /*right: 10px;*/
    /* display: none; */
    /* margin-bottom: 10px; */
}

.wrapper_left_box .video_list_box>div{
    width: 362px;
    height: 197px;
    border: 1px solid rgba(199, 199, 199, 0.86);
    float: left;
    margin-inline-end: -1px;
    margin-block-end: -1px;
    cursor: pointer;
}
.wrapper_left_box .video_list_box>div:hover{
    /*border: 1px solid rgba(27,27,27,.9);*/
}
.wrapper_left_box .video_list_box .video_div_,.wrapper_left_box .video_list_box .live_div_{
    width:360px;
    height: 195px;
    overflow: hidden;
    background: #1b1b1b;
    text-align: center;
    vertical-align: middle;
}


.wrapper_left_box .video_list_box>div .video-button,.wrapper_left_box .video_list_box>div .fullscreen{
    visibility: hidden;
}
.wrapper_left_box .video_list_box>div:hover .video-button,.wrapper_left_box .video_list_box>div:hover .fullscreen{
    visibility: visible;
}

.wrapper_left_box .video_list_box>div div:first-child .video-view{
    width: 100%;
    height: 100%;
    float: left;
}


.wrapper_left_box .video_list_box>div:hover .video-title{
    color: #fff;
}
/*
.wrapper_left_box .video_list_box>div:nth-of-type(even){
    margin-right: 4px;
}
 */
.wrapper_left_box .video_list_box .video-title{
    position: relative;
    width: 100%;
    height: 24px;
    top:-195px;
    padding:0px 10px;
    background: url(../images/video_title_bg.png) left top repeat-x;
    color: #bcbcbc;
    line-height: 24px;
    z-index:10;
    font-size: 12px;
}
.wrapper_left_box .video_list_box .video-title .fullscreen{
    width: 24px;
    height: 24px;
    background: url(../images/right_video_fullscreen_gray.png) center no-repeat;
}
.wrapper_left_box .video_list_box .video-title .fullscreen:hover{
    background: url(../images/right_video_fullscreen_white.png) center no-repeat;
}
/*
.wrapper_left_box .video_list_box .video-button{
    position: relative;
    width: 110px;
    height: 36px;
    top:-70px;
    margin:0px auto;
}*/
.wrapper_left_box .video_list_box .video-button ol{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    cursor: pointer;
}
.wrapper_left_box .video_list_box .video-button ol:first-child{
    background: url(../images/right_video_voice_gray.png) center center no-repeat rgba(27,27,27,.6);
}
.wrapper_left_box .video_list_box .video-button ol:last-child{
    background: url(../images/right_video_end_gray.png) center center no-repeat rgba(27,27,27,.6);
}
.wrapper_left_box .video_list_box .video-button ol:first-child:hover{
    background: url(../images/right_video_voice_white.png) center center no-repeat rgba(0,0,0,.8);
}
.wrapper_left_box .video_list_box .video-button ol:last-child:hover{
    background: url(../images/right_video_end_white.png) center center no-repeat rgba(0,0,0,.8);
}
#video_list_box .video-button{
    visibility: hidden;
    z-index: 990;
    position: absolute;
    width: 110px;
    height: 36px;
    /* top: -70px; */
    bottom: 10px;
    margin: 0px 306px;
}
#video_list_box:hover .video-button,#live_list_box:hover .video-button{
    visibility: visible;
}
#live_list_box .video-button{
    width: 110px;
    height: 36px;
    position: relative;
    top:-70px;
    margin:0px auto;
}
.map-b-box{
    width: 481px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    cursor: pointer;
}
.map-b-box .map-b{
    width: 66px;
    height: 66px;
    /*background:rgba(27,27,27,.6);*/
}
/*.map-b-box .map-b:hover{
    background:rgba(0,0,0,.8);
}*/
.map-b-box .map-pic li{
    width: 92px;
    height: 66px;
    margin-right: 1px;
    /*margin-top: 10px;*/
    border-radius: 2px;
    border:3px solid rgba(27,27,27,.6);
    cursor: pointer;
}
.map-b-box .map-pic li:hover{
    border:3px solid rgba(0,0,0,.8);
}
.map-b-box .map-pic li:hover p{
    color: #fff;
}
.map-b-box .map-pic p{
    width: 86px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    color: #bcbcbc;
    background: rgba(27,27,27,.6);
    position: relative;
    top: -16px;
}
footer{
    z-index: 990;
    width: 100%;
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: #bcbcbc;
    left: 0px;
    right: 0px;
    color: #bcbcbc;
    font-size: 12px;
    line-height: 32px;
    background: url(../images/foot-bg.png) top left repeat-x;
}
footer .footer-name{
    height: 32px;
    text-align: right;
    padding-right: 10px;
    /*    width: 200px;*/
}
footer p{
    font-size: 12px;
    line-height: 32px;
    float: left;
    margin-left: 10px;
}
.foot-arrow{
    width: 200px;
    height: 32px;
    margin:0px auto;
    display: block;
}
.foot-up{
    background:url("../images/foot_up_gray.png") center center no-repeat;
}
.foot-up:hover{
    background:url("../images/foot_up_white.png") center center no-repeat;
}
.foot-down{
    background:url("../images/foot_down_white.png") center center no-repeat;
}
.foot-down:hover{
    background:url("../images/foot_down_gray.png") center center no-repeat;
}

/*center button*/

.wrapper_center_box{
    width: 100%;
    height: 88px;
    position: absolute;
    bottom: 0px;
}
.wrapper_center_box ul{
    width: 588px;
    height: 56px;
    margin:0px auto;
}
.wrapper_center_box ul:first-child li{
    width: 56px;
    height: 56px;
    border-radius: 50px;
    margin-left: 20px;
    text-align: center;
    padding-top: 30px;
    font-size: 12px;
    color: #bcbcbc;
    cursor: pointer;
}
.wrapper_center_box ul:first-child li:first-child{
    margin-left: 0px;
    background:url(../images/center_button_icon1_gray.png) center 10px no-repeat rgba(27,27,27,.6);
}
.wrapper_center_box ul:first-child li:first-child:hover{
    background:url(../images/center_button_icon1_white.png) center 10px no-repeat rgba(0,0,0,.8);
    color: #fff;
}
.wrapper_center_box ul:first-child li:nth-child(2){
    background:url(../images/center_button_icon2_gray.png) center 10px no-repeat rgba(27,27,27,.6);
}
.wrapper_center_box ul:first-child li:nth-child(2):hover{
    background:url(../images/center_button_icon2_white.png) center 10px no-repeat rgba(0,0,0,.8);
    color: #fff;
}
.wrapper_center_box ul:first-child li:nth-child(3){
    background:url(../images/center_button_icon3_gray.png) center 10px no-repeat rgba(27,27,27,.6);
}
.wrapper_center_box ul:first-child li:nth-child(3):hover{
    background:url(../images/center_button_icon3_white.png) center 10px no-repeat rgba(0,0,0,.8);
    color: #fff;
}
.wrapper_center_box ul:first-child li:nth-child(4){
    background:url(../images/center_button_icon4_gray.png) center 10px no-repeat rgba(27,27,27,.6);
}
.wrapper_center_box ul:first-child li:nth-child(4):hover{
    background:url(../images/center_button_icon4_white.png) center 10px no-repeat rgba(0,0,0,.8);
    color: #fff;
}
.wrapper_center_box ul:first-child li:nth-child(5){
    background:url(../images/center_button_icon5_gray.png) center 10px no-repeat rgba(27,27,27,.6);
}
.wrapper_center_box ul:first-child li:nth-child(5):hover{
    background:url(../images/center_button_icon5_white.png) center 10px no-repeat rgba(0,0,0,.8);
    color: #fff;
}
.wrapper_center_box ul:first-child li:nth-child(6){
    background:url(../images/center_button_icon6_gray.png) center 10px no-repeat rgba(27,27,27,.6);
}
.wrapper_center_box ul:first-child li:nth-child(6):hover{
    background:url(../images/center_button_icon6_white.png) center 10px no-repeat rgba(0,0,0,.8);
    color: #fff;
}
.wrapper_center_box ul:first-child li:nth-child(7){
    background:url(../images/center_button_icon7_gray.png) center 10px no-repeat rgba(27,27,27,.6);
}
.wrapper_center_box ul:first-child li:nth-child(7):hover{
    background:url(../images/center_button_icon7_white.png) center 10px no-repeat rgba(0,0,0,.8);
    color: #fff;
}
.wrapper_center_box ul:first-child li:nth-child(8){
    background:url(../images/center_button_icon8_gray.png) center 10px no-repeat rgba(27,27,27,.6);
}
.wrapper_center_box ul:first-child li:nth-child(8):hover{
    background:url(../images/center_button_icon8_white.png) center 10px no-repeat rgba(0,0,0,.8);
    color: #fff;
}


/*禁飞区展开*/

.nofly{
    position: fixed;
    bottom: 95px;
    width: 478px;
    overflow: hidden;
}
.nofly li,.layer li{
    width: 100%;
    padding:14px;
    margin-top: 1px;
    background: rgba(27,27,27,.6);
    border-radius: 2px;
    cursor: pointer;
}
.nofly li:hover,.layer li:hover{
    background: rgba(0,0,0,.8);
}
.nofly li:first-child,.layer li:first-child{
    margin-top: 0px;
}
.nofly li dl{
    height: 22px;
    width: 100%;
}
.nofly li dl ol:first-child{
    width: 22px;
    height: 22px;
    margin-right: 10px;
    border-radius:20px;
    display: inline-block;
}
.switch_on,.switch_off{
    width: 38px;
    height: 22px;
    display: block;
    cursor: pointer;
}
.switch_on{
    background: url(../images/switch_on.png) left center no-repeat;
}
.switch_off{
    background: url(../images/switch_off.png) left center no-repeat;
}
.nofly li dl ol{
    color: #fff;
    line-height: 22px;
}
.nofly li p{
    width: 100%;
    color: #bcbcbc;
    font-size: 12px;
    margin-top: 10px;
}
ul.nofly li:first-child dl ol:first-child{
    border: 1px solid rgb(255,0,0);
    background: rgba(255,0,0,.2);
}
ul.nofly li:nth-child(2) dl ol:first-child{
    border: 1px solid rgb(191,191,191);
    background: rgba(191,191,191,.2);
}
ul.nofly li:nth-child(3) dl ol:first-child{
    border: 1px solid rgb(0,160,233);
    background: rgba(0,160,233,.2);
}
ul.nofly li:nth-child(4) dl ol:first-child{
    border: 1px solid rgb(255,255,0);
    background: rgba(255,255,0,.2);
}
ul.nofly li:nth-child(5) dl ol:first-child{
    border: 1px solid rgb(233,133,0);
    background: rgba(233,133,0,.2);
}
ul.nofly li:nth-child(6) dl ol:first-child{
    border: 1px solid rgb(0,255,255);
    background: rgba(0,255,255,.2);
}
ul.nofly li:nth-child(7) dl ol:first-child{
    border: 1px solid rgb(0,255,0);
    background: rgba(0,255,0,.2);
}

/*图层展开*/
.layer{
    position: fixed;
    bottom: 95px;
    width: 338px;
    /*height: 300px;*/
    overflow-y: auto;
    /*position: relative;
    top: -366px;
    left: -55px;*/
}
.layer li:first-child ol{
    width: 120px;
    line-height: 22px;
    margin-bottom: 20px;
}
.layer li:first-child ol:nth-child(3){
    margin-bottom: 0px;
}
.layer li:first-child span{
    padding-left: 20px;
    font-size: 12px;
    line-height: 22px;
    color: #bcbcbc;
}
.layer li:first-child dl ol:nth-child(1) span{
    background: url(../images/center_icon_panorama.png) left center no-repeat;
}
.layer li:first-child dl ol:nth-child(2) span{
    background: url(../images/center_icon_line.png) left center no-repeat;
}
.layer li:first-child dl ol:nth-child(3) span{
    background: url(../images/center_icon_live.png) left center no-repeat;
}
.layer li p{
    width: 260px;
}
.layer li p span:first-child{
    font-size: 16px;
    font-weight:bold;
    color: #fff;
}
.layer li p span:last-child{
    font-size: 12px;
    color: #bcbcbc;
}
.layer li>a{
    margin:13px 0px;
}
/*.wraper-center-mark .mark-car{
    position: absolute;
    left: 1000px;
    top: 500px;
}
.wraper-center-mark .mark-man{
    position: absolute;
    left: 1200px;
    top: 400px;
}
.wraper-center-mark .mark-plane{
    position: absolute;
    left: 950px;
    top: 440px;
}*/
.mark-icon{
    z-index: 2;
    position: absolute;
}
.mark-car .info,
.mark-man .info,
.mark-plane .info{
    position: relative;
    height: 32px;
    left: 10px;
    padding: 0px 10px 0px 28px;
    background:rgba(27,27,27,.6);
    border-radius: 30px;
    line-height: 32px;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
}
.mark-car .info{
    border:1px solid #00deff;
}
.mark-man .info{
    border:1px solid #2dea9c;
}
.mark-plane .info{
    border:1px solid #f9d000;
}
.wraper-center-mark .mark-car img,
.wraper-center-mark .mark-man img,
.wraper-center-mark .mark-plane img{
    position: relative;
    left: 20px;
    top: -1px;
}
.mark-panorama{
    cursor: pointer;
}

.mask{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 999 !important;
    background: url("../images/loading.gif") center no-repeat rgba(0,0,0,.4);
    background-size: 200px 150px;
}
/*pop弹窗*/
.pop-box{
    width: 300px;
    height: auto;
    margin:16% auto auto auto;
    padding:20px;
    background: rgba(27,27,27,.6);
    color: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 999;
}
.pop-box p{
    text-align: center;
}

/**/
@media ( min-width: 1024px) {
}

/*>=1024的设备*/
@media ( min-width: 1100px) {
}

/*>=1100的设备*/
@media ( min-width: 1280px) {
}

/*>=1280的设备*/
@media ( min-width: 700px) and (max-width: 1300px) {
    .cloude_wraper_box .wraper_bg {
        height: 600px;
    }

    .cloude_wraper_nav .toggle_btn {
        margin-bottom: 10px;
    }

    .cloude_wraper_nav li, .cloude_wraper_nav li.menu_nav {
        margin-bottom: 10px;
    }

    #navsdiv {
        transform: scale(0.85) translate(-10px, -80px);
    }

    .notice-content {
        max-height: 260px;
    }

    .cloude-d-content {
        height: 600px;
    }

    .layui-layer {
        max-height: 500px;
    }

    #layers-photo {
        max-height: 500px !important;
    }
}

@media ( min-width: 1360px) and (max-width: 1440px) {
    .faceBox {
        margin-top: 20px;
    }

    /* .content>div:last-child{
        display:none;
    } */
    .face {
        margin-bottom: 15px;
    }

    .car .txt {
        bottom: 0px;
        font-size: 12px;
    }
    /*
        .cloude_top_head_box .top_left_box {
            width: 353px;
            height: 82px;
            background: url(../images/bg_left.png) no-repeat;
        }

        .cloude_top_head_box .top_center_box {
            left: 353px;
            right: 335px;
            background: url(../images/bg_center.png) repeat-x;
        }

        .cloude_top_head_box .top_right_box {
            width: 335px;
            background: url(../images/bg_right.png) no-repeat;
        }

        .top_center_box .top_check {
            width: 16px;
            height: 16px;
            background: url(../images/icon_hearded.png) no-repeat;
        }

        .top_center_box .top-checked {
            width: 16px;
            height: 16px;
            background: url(../images/icon_hearder.png) no-repeat;
        }
    */
    .cloude_top_head_box .top_logo {
        padding-left: 48px !important;
    }

    .cloude_top_head_box .top-user-info {
        margin-right: 15px;
    }

    .userSelectpicker .dropdown-menu a .text,
    .userSelectpicker .btn-group .btn.dropdown-toggle {
        font-size: 12px;
    }

    .top_center_box .top_center-data, .top_center_box .top_center_data {
        font-size: 12px;
    }

    .top_center_box .top_data {
        font-size: 22px;
    }

    .top_center_bg ul {
        z-index: 99;
        text-align: left;
        margin-left: -55px;
        margin-right: -40px;
        position: relative;
    }

    .top_center_bg ul li {
        margin-left: 11px;
    }

    .top_center_bg .top-left-bar:nth-of-type(3n) {
        margin-right: 20px;
    }

    /*---------------------*/
    .cloude_wraper_box .wraper_bg {
        height: 530px;
    }

    .cloude_wraper_nav .toggle_btn {
        margin-bottom: 10px;
    }

    .cloude_wraper_nav li, .cloude_wraper_nav li.menu_nav {
        margin-bottom: 10px;
    }

    #navsdiv {
        transform: scale(0.85) translate(-10px, -80px);
    }

    .notice-content {
        max-height: 260px;
    }

    .cloude-d-content {
        height: 550px;
    }

    .layui-layer {
        max-height: 500px;
    }

    #layers-photo {
        max-height: 500px !important;
    }

    .people, .car {
        width: 165px;
    }

    #rightBot {
        width: 188px;
    }

    .people .carImg, .car .carImg {
        height: 93px;
        width: 165px;
    }

    .infobox .bootstrap-select.btn-group .dropdown-menu.inner {
        max-height: 520px !important;
    }

    .bottom-building {
        max-height: calc(100% - 346px);
    }

    .table-box {
        height: calc(100% - 183px);
        overflow-y: auto;
    }
}

@media ( min-width: 1441px) and (max-width: 1660px) {
    /* .cloude_wraper_box {
        transform: scale(.9);
        transform-origin: 0 0;
    }
    .cloude_wraper_box.hiddens {
        left: -331px !important;
    }
    .cloude_top_head_box .top_center_box,.cloude_top_head_box .top_left_box
        {
        transform: scale(.9);
        transform-origin: 0 0;
    }
    .cloude_top_head_box .top_right_box {
        transform: scale(.9);
        transform-origin: top right;
    }
    .cloude_top_head_box .top_center_box {
        right: 281px;
        left: 392px;
    }
    .top_center_bg ul li {
        margin-left: 25px;
        float: left;
    }
    .top_center_bg .top-left-bar:nth-of-type(3n) {
        margin-right: 10px;
    }
    .cloude-detail-box {
        -webkit-transform: translate3d(100%, 0, 0) scale(.9);
        -moz-transform: translate3d(100%, 0, 0) scale(.9);
        -ms-transform: translate3d(100%, 0, 0) scale(.9);
        -o-transform: translate3d(100%, 0, 0) scale(.9);
        transform: translate3d(100%, 0, 0) scale(.9);
        transform-origin: center right;
    }
    .cloude-detail-box.show {
        -webkit-transform: translate3d(-45px, 0, 0) scale(.9);
        -moz-transform: translate3d(-45px, 0, 0) scale(.9);
        -ms-transform: translate3d(-45px, 0, 0) scale(.9);
        -o-transform: translate3d(-45px, 0, 0) scale(.9);
        transform: translate3d(-45px, 0, 0) scale(.9);
        transform-origin: 0 0;
    } */
    .heard {
        padding-top: 25px !important;
    }

    .heard-titl {
        padding-top: 30px !important;
    }

    .cloude_wraper_box .wraper_bg {
        height: 750px;
    }

    .infobox .bootstrap-select.btn-group .dropdown-menu.inner {
        max-height: 715px !important;
    }

    .top_center_bg {
        position: absolute;
        left: -30px;
        right: -20px;
    }

    .top_center_bg ul li {
        margin-left: 10px;
    }

    .top_center_bg .top-left-bar:nth-of-type(3n) {
        margin-right: 20px;
    }

    .cloude-d-content {
        height: 760px;
    }

    .heard-search {
        padding-top: 30px;
    }

    .synopsis-box {
        top: 205px;
    }

    #carUninfo {
        height: calc(100% - 185px);
    }
}

@media ( min-width: 1661px) and (max-width: 1900px) {
    .cloude_top_head_box .top_center_box, .cloude_top_head_box .top_left_box {
        transform: scale(.9);
        transform-origin: 0 0;
    }

    .cloude_top_head_box .top_right_box {
        transform: scale(.9);
        transform-origin: top right;
    }

    .cloude_top_head_box .top_center_box {
        right: 257px;
        left: 392px;
    }

    .top_center_bg ul li {
        margin-left: 25px;
    }

    .top_center_bg .top-left-bar:nth-of-type(3n) {
        margin-right: 40px;
    }
}

@media ( min-height: 720px) and (max-height: 800px) {
    /* .cloude_wraper_box {
        transform: scale(.75);
        transform-origin: center left;
        margin-top: -8px;
    }
    .modal-content {
        transform: scale(.78);
        transform-origin: center center;
    }
    .cloude_wraper_box.hiddens {
        left: -281px;
    }
    .cloude-detail-box {
        -webkit-transform: translate3d(100%, 0, 0) scale(.78);
        -moz-transform: translate3d(100%, 0, 0) scale(.78);
        -ms-transform: translate3d(100%, 0, 0) scale(.78);
        -o-transform: translate3d(100%, 0, 0) scale(.78);
        transform: translate3d(100%, 0, 0) scale(.78);
        transform-origin: center right;
    }
    .cloude-detail-box.show {
        -webkit-transform: translate3d(-45px, 0, 0) scale(.78);
        -moz-transform: translate3d(-45px, 0, 0) scale(.78);
        -ms-transform: translate3d(-45px, 0, 0) scale(.78);
        -o-transform: translate3d(-45px, 0, 0) scale(.78);
        transform: translate3d(-45px, 0, 0) scale(.78);
        transform-origin: center right;
    } */
}

@media ( min-height: 801px) and (max-height: 900px) {
    /* .cloude_wraper_box {
        transform: scale(.85);
        transform-origin: center left;
    }
    .cloude_wraper_box.hiddens {
        left: -281px;
    }
    .cloude-detail-box {
        -webkit-transform: translate3d(100%, 0, 0) scale(.85);
        -moz-transform: translate3d(100%, 0, 0) scale(.85);
        -ms-transform: translate3d(100%, 0, 0) scale(.85);
        -o-transform: translate3d(100%, 0, 0) scale(.85);
        transform: translate3d(100%, 0, 0) scale(.85);
        transform-origin: center right;
    }
    .cloude-detail-box.show {
        -webkit-transform: translate3d(-45px, 0, 0) scale(.85);
        -moz-transform: translate3d(-45px, 0, 0) scale(.85);
        -ms-transform: translate3d(-45px, 0, 0) scale(.85);
        -o-transform: translate3d(-45px, 0, 0) scale(.85);
        transform: translate3d(-45px, 0, 0) scale(.85);
        transform-origin: center right;
    } */
}

@media ( min-height: 901px) and (max-height: 930px) {
    /* .cloude_wraper_box {
        transform: scale(.9);
        transform-origin: center left;
    }
    .cloude_wraper_box.hiddens {
        left: -281px;
        left: -331px;
    }
    .cloude-detail-box {
        -webkit-transform: translate3d(100%, 0, 0) scale(.9);
        -moz-transform: translate3d(100%, 0, 0) scale(.9);
        -ms-transform: translate3d(100%, 0, 0) scale(.9);
        -o-transform: translate3d(100%, 0, 0) scale(.9);
        transform: translate3d(100%, 0, 0) scale(.9);
        transform-origin: center right;
    }
    .cloude-detail-box.show {
        -webkit-transform: translate3d(-45px, 0, 0) scale(.9);
        -moz-transform: translate3d(-45px, 0, 0) scale(.9);
        -ms-transform: translate3d(-45px, 0, 0) scale(.9);
        -o-transform: translate3d(-45px, 0, 0) scale(.9);
        transform: translate3d(-45px, 0, 0) scale(.9);
        transform-origin: center right;
    } */
}
.cantSelect{
    color:#4c4c4c !important;
}